.myorder {
    
    
    h1 {
        text-align: center;
    }

    .orderdetails {
       
        text-align: center;
        margin-top: 2rem;

        h2 {
            color: #224957;
            font-size: 1.25em;
            font-weight: 700;
        }

        table {
            border: none;
            margin: 0 auto 4rem;
            position: relative;
            width: 50%;
        }
    }
}
.noorder{
    font-size: 3rem;
    font-weight: 700;
    color: #fb813e;;
}